header {
  width: 100%;
  overflow: hidden;
}

html,body {
  height: 100%;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 400;
}

footer {
  width: 100%;
  height: 60px;
  margin-top: 60px;
  background-color: #9b4b4b;
}

.navbar .navbar-brand {
  color: #4592af;
}

.navbar .navbar-brand:hover {
  color: #226089;
}

.container {
  min-height: calc(100% - 60px);
}

.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 360px;
  background: #dddddd center center url('https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5720/restaurants-list-cover.jpg');
  background-size: cover;
  filter: blur(3px);
}

.form .form-outer,
.search-bar .search-bar-outer {
  margin: 0 auto;
  max-width: 680px;
  background-color: #fce2cf;
  border-radius: 8px;
  padding: 20px 50px;
  border: 0;
  margin-top: -60px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.form .form-inner,
.search-bar .search-bar-inner h4 {
  color: #9b4b4b;
}

.form-control::placeholder {
  color: #aaaaaa;
  font-size: 0.8rem;
}

.btn-major {
  background-color: #9b4b4b;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card img {
  height: 180px;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button {
  padding: 5px;
  border: 0;
  font-size: medium;
  font-weight: 400;
}

.restaurant-category {
  color: #666666;
  font-size: 0.8rem;
}

.restaurant-show-title {
  position: relative;
  top: -100px;
  color: white;
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-title-box {
  margin: auto;
  margin-top: 40px;
  padding: 16px 0;
  max-width: 550px;
  background-color: #faf1ec;
  border-radius: 5px;
  border: 0px;
}

.form-title {
  text-align: center;
  margin: auto;
  font-size: larger;
}



@media screen and (max-width: 992px) {

  .card img {
    height: 115px;
  }
}

@media screen and (max-width: 768px) {

  .restaurant-show-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 575px) {

  .card img {
    height: auto;
  }

}